<div class="container">
  <h1>Flats</h1>
  <% @flats.each do |flat| %>
  <ul>
    <li><strong><%= flat.address %></strong></li>
    <li><%= flat.price %></li>
    <li><%= flat.reserved %></li>
    <li>
    <%= link_to 'Edit Flat', edit_flat_path(flat), class: 'btn btn-secondary btn-sm' %>
    <%= button_to 'Delete Flat', flat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </li>
  </ul>
<% end %>
</div>
