<div class="container">
<h1>Add a new flat</h1>
<%= simple_form_for [@flat] do |f| %>
  <%= f.input :address, label: 'Address:' %>
  <%= f.input :price, label: 'Price' %>
  <%= f.input :capacity, label: 'Capacity' %>
  <%= f.input :reserved, label: 'Reserved' %>
  <%= f.button :submit, "Save Flat" %>
<% end %>
</div>
