<div class="container px-5">
<h1 class="my-5" style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;">Start adding your space</h1>
<%= simple_form_for [@flat] do |f| %>
  <%= f.input :address, label: 'Address:' %>
  <%= f.input :price, label: 'Price' %>
  <%= f.input :capacity, label: 'Capacity' %>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :available_start, label: 'Initial date the flat will be available for reservation' %>
  <%= f.input :available_end, label: 'Final date the flat will be available for reservation' %>
  <%= f.input :photo %>
  <%= f.button :submit, "Save Flat", class: 'btn btn-primary'%>
<% end %>
</div>
