<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <%= stylesheet_link_tag '/app/assets/stylesheets/components/_photos.scss', media: 'all' %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">

      <div class="container"> <!--CONTENEDOR DE LAS FOTOGRAFIAS-->
        <h1 class="my-3" style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;"><%= @flat.title %></h1>
          <div class="row d-flex justify-content-center">
            <% @flat.photos.first %>
                <div class="col-6">
                  <div>
                    <%= cl_image_tag @flat.photos.first.key, class:"img-fluid" %>
                  </div>
                </div>
                <div class="col-6">
                  <div class="col-6 mb-2">
                      <%= cl_image_tag @flat.photos.first.key, class:"img-fluid", size:"250x250" %>
                  </div>
                  <div class="col-6">
                      <%= cl_image_tag @flat.photos.first.key, class:"img-fluid", size:"255x250" %>
                  </div>
                </div>
          </div>
      </div>
      <div class="row me-3 mt-4">
        <div class="col ms-3">
          <h3><strong>Flat in <%= @flat.address %></strong></h3>
          <h4>About this place</h4>
          <p><%= @flat.description %></p>
          <p><%= @flat.available_start %> - <%= @flat.available_end %></p>
          <p><strong><%= @flat.price %></strong></p>
        </div>
        <div class="col shadow border rounded-3">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col p-3">
              <h4>$ <%= @flat.price %></h4>
            </div>
          </div>
          <div class="d-grid gap-2">
            <%= link_to "Book Now", new_flat_booking_path(@flat), class:'btn btn-success m-3'%>
          </div>
        </div>
      </div>

      <%= link_to 'Back', flats_path, class:'btn btn-outline-primary m-3'%>
</div>



</body>
</html>
