<div class="container px-5">
<h1 class="my-5" style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;"><%= @flat.address %></h1>
  <% @flat.photos.each do |photo| %>
    <%= cl_image_tag(photo.key, height: 400, width: 400, crop: :fill) %>
  <% end %>
  <p><%= @flat.title %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.available_start %> - <%= @flat.available_end %></p>
  <p><strong><%= @flat.price %></strong></p>
</div>
