
<div class="container w-80 shadow border p-4 mt-2">
      <div class="container"> <!--CONTENEDOR DE LAS FOTOGRAFIAS-->
        <h1 class="my-3" style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;"><i class="fa-solid fa-house" style="color: rgb(243, 35, 156)"></i> <%= @flat.title %></h1>
          <div class="row d-flex justify-content-center">
            <% @flat.photos.first %>
                <div class="col-8">
                  <div>
                    <%= cl_image_tag @flat.photos.first.key, class:"img-fluid" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="col-6 mb-2">
                      <%= cl_image_tag @flat.photos.first.key, class:"img-fluid", size:"250x250" %>
                  </div>
                  <div class="col-6">
                      <%= cl_image_tag @flat.photos.first.key, class:"img-fluid", size:"255x250" %>
                  </div>
                </div>
          </div>
      </div>
      <div class="row me-3 mt-4">
        <div class="col ms-3">
          <h3><strong>Flat in <%= @flat.address %></strong></h3>
          <h4>About this place</h4>
          <p><%= @flat.description %></p>
          <hr>
          <p class="mb-1"><strong>Stay with </strong></p>
          <p><%= @flat.user.first_name %></p>
            <%= link_to "Book Now", new_flat_booking_path(@flat), class:'btn btn-primary btn-lg mt-4'%>
            <%= link_to 'Back', flats_path, class:'btn btn-outline-primary btn-lg mt-4'%>
        </div>
        <div class="col ms-3">
        <h4>$ <%= @flat.price %></h4>
              <table class="table table-bordered rounded">
              <tbody>
                <colgroup>
                  <col span="1" style="width: 50%">
                  <col span="1" style="width: 50%">
                </colgroup>
                <tr>
                  <th scope="col" style="color: #FF0000">CHECK-IN</th>
                  <th scope="col" style="color: #FF0000">CHECK-OUT</th>
                </tr>
                <tr>
                  <td style="color: #818589"><%= @flat.available_start %></td>
                  <td style="color: #818589"><%= @flat.available_end %></td>
              </tbody>
            </table>
            <th scope="col"><i class="fa-solid fa-users"></i><strong> CAPACITY:</strong> <%= @flat.capacity %></th>
        </div>
      </div>
      </div>
</div>
