<div class="banner-container">
  <div class="banner-image" style="background-image: url('https://images.pexels.com/photos/5273346/pexels-photo-5273346.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
    <div class="banner-text">
      <div class="banner-top-left">
        <h1 class="my-4">Welcome to <span class="title">Reservify</span></h1>
      </div>
      <div class="banner-center wheat-color">
        <h2>Discover Your Next Stay</h2>
        <p>Find the best flats for your next trip.</p>
      </div>
    </div>
  </div>
</div>

<div class="container w75 my-4">
  <%= render 'shared/search_bar' %>
</div>

<div class="container mb-5">
  <div class="row">
    <% if @flats.any? %>
      <% @flats.each do |flat| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card mb-4 shadow-sm h-100 rounded" style="min-height: 400px;">
            <% if flat.photos.present? %>
              <%= image_tag flat.photos.first, class: "card-img-top img-fluid rounded-top", style: "height: 155px; object-fit: cover;" %>
            <% else %>
              <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Placeholder Image">
            <% end %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title fw-bold"><%= flat.title %></h5>
              <p class="card-text"><%= flat.description %></p>
              <p class="card-text text-muted mt-auto">Price: <%= number_to_currency(flat.price) %></p>
              <%= link_to 'View Flat', flat_path(flat), class: 'btn btn-secondary mt-2' %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No flats available at the moment.</p>
    <% end %>
  </div>
</div>
